*{
	font-family: Maple Mono;
	border-radius: 9px;
	background: transparent;
}

tooltip {
	color: #d8cab8;
	background-image: linear-gradient(to bottom, rgba(20, 18, 22, 0.9) 90%);
	border-radius: 14px;
	padding: 0px;
	border-style: none;
}

window#waybar {
	background-image: linear-gradient(to bottom, rgba(20, 18, 22, 0.9) 100%);

	border-radius: 14px;
	padding: 0px;
	border-style: none;
}

#battery,
#network,
#window,
#tray,
#clock,
#workspaces,
#pulseaudio {
	background-image: linear-gradient(to bottom, #27232b 100%);

	margin: 6px;
	margin-right: 0px;
	border-radius: 8px;
	padding: 4px 8px;

	color: #d8cab8;
	border-style: none;
}

#clock {
	margin-right: 6px;
}

#pulseaudio:hover {
	background-image: linear-gradient(to bottom, #ac82e9 100%);
	color: #141216;
	transition-duration: 120ms;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button {
	color: #d8cab8;
}
#workspaces button.active {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}
#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

